@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --bg-color: #1c1b21;
  --ff-popp-n: "Poppins", sans-serif;
}

body {
  background-color: var(--bg-color);
}

.main_tittle {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  /* identical to box height */
  /* white */
  color: #ffffff;
}

.main_tittle::before {
  display: inline-block;
  content: " ";
  background-image: url("/img/tittle_logo.svg");
  background-size: 64px 31px;
  height: 31px;
  width: 64px;
  margin-right: 30px;
}

.section {
  width: 100%;
  max-width: 1110px;
  padding: 0 15px 0 15px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 0;
}

.player {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.play {
  background-color: transparent;
  border: 0;
}

.player__btn:hover {
  fill: turquoise;
  color: yellow;
}

.player__timeline {
  height: 4px;
  background-color: white;
  width: 80%;
}

.player__time {
  display: block;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: right;
  color: #ffffff;
}

.timeline-bar {
  height: 100%;
  width: 100px;
  background-color: red;
}

.header {
  gap: 65px;
  width: 100%;
  padding: 0 15px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__logo {
  margin-right: 43px;
}

.header__menu {
  z-index: 0;
  width: 632px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu-item {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  /* white */
  text-decoration: none;
  color: #ffffff;
}

#menuToggle {
  cursor: pointer !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  right: 25px;
  z-index: 999;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#menuToggle input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menuToggle span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 5px 0px;
          transform-origin: 5px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(3) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(-45deg) translate(-3px, -2px);
          transform: rotate(-45deg) translate(-3px, -2px);
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(4) {
  -webkit-transform: rotate(45deg) translate(0, 2px);
          transform: rotate(45deg) translate(0, 2px);
}

#menuToggle > span, input {
  display: none;
}

@media (max-width: 425px) {
  .header__logo_img {
    width: 80%;
  }
}

@media (max-width: 767px) {
  #menuToggle {
    position: absolute;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  #menuToggle > span, input {
    display: block;
  }
  .header__logo {
    margin-right: 0;
  }
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__logo {
    left: 0%;
    top: 0%;
  }
  .header__menu {
    right: -2px;
    top: -14px;
    position: absolute;
    height: 350px;
    width: 226px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: rgba(122, 102, 204, 0.9);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-font-smoothing: antialiased;
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: translate(130%, 0);
            transform: translate(130%, 0);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  .header__menu-item {
    margin-right: 15%;
    padding: 10px 45px;
    -webkit-transition-delay: 2s;
            transition-delay: 2s;
  }
  #menuToggle input:checked ~ nav {
    -webkit-transform: none;
            transform: none;
  }
}

.video,
.video__gradient {
  width: 100vw;
  max-height: 100vh;
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video__media {
  pointer-events: none;
  height: 100%;
}

.video__gradient {
  position: absolute;
  left: 0;
  top: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(92.19%, #1c1b21)), url(image.png);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #1c1b21 92.19%), url(image.png);
  border: 1px solid #000000;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.video__controls {
  padding-top: 14%;
  position: absolute;
}

.video__controls p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  /* identical to box height */
  /* white */
  color: #ffffff;
}

.video__controls h1 {
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 150px;
  -webkit-text-stroke: 2px white;
  color: rgba(0, 0, 0, 0);
  /* identical to box height */
  /* white */
}

@media (max-width: 768px) {
  .video__controls {
    margin-top: 290px;
  }
  .video__controls p {
    font-size: 36px;
  }
  .video__controls h1 {
    font-size: 75px;
    line-height: 100px;
  }
}

@media (max-width: 425px) {
  .video__controls {
    margin-top: 325px;
  }
  .video__controls p {
    font-size: 24px;
  }
  .video__controls h1 {
    font-size: 50px;
    line-height: 75px;
  }
}

.links {
  top: 93%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  margin-top: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.links__item {
  width: 350px;
  height: 300px;
  border-radius: 20px 0 20px 0;
  background-image: url("/img/link-img_1.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.links__item:nth-child(2) {
  background-image: url("/img/link-img_2.png");
}

.links__item:nth-child(3) {
  background-image: url("/img/link-img_3.png");
}

.links__descr {
  border-radius: 20px 0;
  position: relative;
  background: rgba(122, 102, 204, 0.7);
  border-radius: 20px 0px;
  height: 33%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* white */
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.links__descr-text {
  width: 88%;
  text-align: left;
}

.hero {
  position: relative;
  margin-top: 316px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__descr {
  padding-right: 125px;
}

.hero__descr p {
  margin-top: 60px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* white */
  color: #ffffff;
  opacity: 0.7;
  -webkit-text-stroke: 1px solid black;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.credits__logo {
  margin-right: 20px;
  width: 30px;
  height: 30px;
  background: #7a66cc;
  border-radius: 10px 0px;
}

.hero__imgs {
  position: relative;
  padding: 66px 0 0 95px;
  margin-top: 61px;
}

.hero__imgs img:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
}

.hero_credits {
  margin-top: 60px;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.credits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.credits__item {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  /* white */
  color: #ffffff;
}

@media (max-width: 1024px) {
  .hero__descr {
    padding-right: 20px;
    padding-left: 5px;
  }
  .hero__descr p {
    margin-top: 43px;
  }
  .hero_credits {
    margin-top: 90px;
  }
  .hero__imgs {
    padding: 36px 0 0 29px;
  }
  .hero__imgs img {
    max-width: 100%;
  }
}

@media (max-width: 425px) {
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.info {
  position: relative;
  margin-top: 236px;
  background: #1c1b21;
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px 0px;
}

.info__wrapper {
  width: auto;
  padding-right: 47%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 7%;
}

.info__text {
  padding-top: 50px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  /* white */
  color: #ffffff;
}

.info__line {
  margin-top: 25px;
  opacity: 0.6;
  /* white */
  border: 1px solid #ffffff;
}

.info__img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 60%;
}

.info__link {
  margin-top: 25px;
  padding-bottom: 50px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  /* accent */
  color: #7a66cc;
}

@media (max-width: 1024px) {
  .info__wrapper {
    padding-right: 57%;
    padding-left: 5%;
  }
  .info__img {
    left: 55%;
  }
}

@media (max-width: 768px) {
  .info__wrapper {
    padding-right: 57%;
    padding-left: 5%;
  }
  .info__img {
    width: 50vw;
  }
}

@media (max-width: 425px) {
  .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info__img {
    position: relative;
    left: 0px;
    top: 0px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    padding-bottom: 10%;
  }
  .info__wrapper {
    padding: 5%;
  }
}

.tracks {
  margin-top: 265px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tracks__img {
  border-radius: 50%;
}

.tracks__img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid rgba(122, 102, 204, 0.9) 20px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 0px 20px rgba(122, 102, 204, 0.3);
          box-shadow: 0px 0px 0px 20px rgba(122, 102, 204, 0.3);
}

.tracks__list {
  margin-top: 50px;
  list-style-type: none;
}

.tracks__list_item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.tracks__item_name {
  max-width: 505px;
  white-space: initial;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  /* white */
  color: #ffffff;
}

.list-item_couner {
  margin-right: 17px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  /* white */
  color: #ffffff;
  opacity: 0.5;
}

.tracks__social {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tracks__social_follow {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */
  /* white */
  color: #ffffff;
}

.tracks__social_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.tracks__social_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social_logo {
  width: 30px;
  height: 30px;
}

.social_name {
  padding-left: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  /* white */
  color: #ffffff;
}

.tracks .player {
  margin-top: 60px;
}

.tracks .player__timeline {
  width: 60%;
}

@media (max-width: 1024px) {
  .tracks__img {
    min-width: 100%;
  }
  .tracks__img-wrapper {
    margin-left: 20px;
    width: 40%;
  }
}

@media (max-width: 425px) {
  .tracks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tracks__img-wrapper {
    width: 90%;
    margin-bottom: 50px;
    margin-left: 0;
  }
}

.gallery {
  max-width: 1110px;
  margin-top: 180px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.g_item_1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
}

.g_item_2 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
}

.g_item_3 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
}

.g_item_4 {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
}

.g_item_5 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
}

.gallery__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px 0;
}

.gallery__item_text {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */
  text-align: center;
  /* accent */
  color: #7a66cc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(28, 27, 33, 0.8);
}

@media (max-width: 1024px) {
  .gallery__item img {
    max-height: 100%;
    max-width: 100%;
  }
}

.slider {
  position: relative;
  max-width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 180px auto 0 auto;
}

.swiper-slide {
  width: 350px;
  height: 473px;
  background: #2f2b2b;
  border-radius: 30px 0px;
}

.swiper__item_state {
  margin: 30px auto 0 35px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  /* white */
  color: #ffffff;
  opacity: 0.5;
}

.swiper__item_place {
  margin: 20px 35px 0 35px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* white */
  color: #ffffff;
}

.swiper__item_place_img {
  width: 100%;
}

.swiper__item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.swiper__item-date {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  text-transform: uppercase;
  /* white */
  color: #ffffff;
  opacity: 0.5;
}

.swiper__item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 60px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  text-transform: uppercase;
  /* white */
  color: #ffffff;
  background: #7a66cc;
  border-radius: 30px 0px;
}

.swiper__nav_next .swiper__nav_prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1024px) {
  .swiper__nav_next,
  .swiper__nav_prev {
    display: none;
  }
  .swiper__item_place_img {
    max-width: 100%;
    max-height: 100%;
  }
}

.footer {
  margin-top: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__contacts :nth-child(1) {
  margin-right: 30px;
}

.contacts_area_1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: right;
  text-transform: uppercase;
  /* white */
  color: #ffffff;
}

.contacts_area_2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  /* white */
  color: #ffffff;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 510px;
}

.social__link {
  margin-top: 60px;
  width: 60px;
  height: 60px;
  background: #7a66cc;
  border: 8px solid #2c2c2c;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__link img {
  width: 24px;
  height: 24px;
}

.footer__copyright {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;
  /* white */
  color: #ffffff;
  opacity: 0.5;
  margin-top: 100px;
  margin-bottom: 40px;
}

@media (max-width: 425px) {
  .footer__social {
    width: 100%;
  }
  .contacts_area_1,
  .contacts_area_2 {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 0 15px 0 15px;
  }
}
/*# sourceMappingURL=style.css.map */