* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bg-color: #1c1b21;
    --ff-popp-n: "Poppins", sans-serif;
}
body {
    background-color: var(--bg-color);
}

.section {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
}
::-webkit-scrollbar {
    width: 0;
  }

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

@import "blocks/header";
@import "blocks/video";
@import "blocks/links";
@import "blocks/hero";
@import "blocks/info";
