@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --bg-color: #1c1b21;
  --ff-popp-n: "Poppins", sans-serif;
}

body {
  background-color: var(--bg-color);
}

.section {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 0;
}

.header {
  width: 100%;
  padding: 0 15px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__logo {
  margin-right: 43px;
}

.header__menu {
  width: 632px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu-item {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  /* white */
  text-decoration: none;
  color: #ffffff;
}

.video,
.video__gradient {
  width: 100vw;
  max-height: 100vh;
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video__media {
  height: 100%;
}

.video__gradient {
  position: absolute;
  left: 0;
  top: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(92.19%, #1c1b21)), url(image.png);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #1c1b21 92.19%), url(image.png);
  border: 1px solid #000000;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.video__controls {
  padding-top: 14%;
  position: absolute;
}

.video__controls p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  /* identical to box height */
  /* white */
  color: #ffffff;
}

.video__controls h1 {
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 150px;
  -webkit-text-stroke: 2px white;
  color: rgba(0, 0, 0, 0);
  /* identical to box height */
  /* white */
}

.video__playback {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video__play {
  background-color: transparent;
  border: 0;
}

.play_btn:hover {
  fill: turquoise;
  color: yellow;
}

.video__timeline {
  height: 2px;
  background-color: white;
  width: 80%;
}

.video__time {
  display: block;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  text-align: right;
  /* white */
  color: #ffffff;
}

.links {
  top: 93%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  margin-top: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.links__item {
  width: 350px;
  height: 300px;
  border-radius: 20px 0 20px 0;
  background-image: url("/img/link-img_1.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.links__item:nth-child(2) {
  background-image: url("/img/link-img_2.png");
}

.links__item:nth-child(3) {
  background-image: url("/img/link-img_3.png");
}

.links__descr {
  border-radius: 20px 0;
  position: relative;
  background: rgba(122, 102, 204, 0.7);
  border-radius: 20px 0px;
  height: 33%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* white */
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.links__descr-text {
  width: 88%;
  text-align: left;
}

.hero {
  position: relative;
  margin-top: 316px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__descr {
  padding-right: 125px;
}

.hero__tittle {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  /* identical to box height */
  /* white */
  color: #ffffff;
}

.hero__tittle::before {
  display: inline-block;
  content: " ";
  background-image: url("/img/tittle_logo.svg");
  background-size: 64px 31px;
  height: 31px;
  width: 64px;
  margin-right: 30px;
}

.hero__descr p {
  margin-top: 60px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* white */
  color: #ffffff;
  opacity: 0.7;
  -webkit-text-stroke: 1px solid black;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.credits__logo {
  margin-right: 20px;
  width: 30px;
  height: 30px;
  background: #7a66cc;
  border-radius: 10px 0px;
}

.hero__imgs {
  position: relative;
  padding: 66px 0 0 95px;
  margin-top: 61px;
}

.hero__imgs img:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
}

.hero_credits {
  margin-top: 60px;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.credits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.credits__item {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  /* white */
  color: #ffffff;
}

.info {
  position: relative;
  margin-top: 236px;
  background: #1C1B21;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px 0px;
}

.info__wrapper {
  width: auto;
  padding-right: 47%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 7%;
}

.info__text {
  padding-top: 50px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  /* white */
  color: #FFFFFF;
}

.info__line {
  margin-top: 25px;
  opacity: 0.6;
  /* white */
  border: 1px solid #FFFFFF;
}

.info__img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 60%;
}

.info__link {
  margin-top: 25px;
  padding-bottom: 50px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  /* accent */
  color: #7A66CC;
}
/*# sourceMappingURL=style.css.map */