.player {
    height: 30px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.play, .pause {
    cursor: pointer;
    width: auto;
    height: 100%;
    background-color: transparent;
    border: 0;
}
.audio_play_btn{
    width: max-content;
    max-height: 25px;
    object-fit: contain;
}
.player__btn:hover {
    fill: rgb(255, 0, 0);
    color: yellow;
}
.player__timeline {
    cursor: pointer;
    height: 4px;
    background-color: white;
    width: 80%;
    margin: 0 2%;
}
.player__time {
    display: block;
    width: 110px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;

    text-align: right;

    color: #ffffff;

    display: flex;
    align-items:center;
    justify-content: space-between;
}
.timeline-bar {
    height: 100%;
    // width: 100px;
    background-color:red;
}
.track__list{
    max-height: 290px;
    overflow: auto;
}

img[alt ="pause-icon"] {

    display: none ;
    
}
#video_play_btn img[alt ="play-icon"]
{
    display: none;
}
#video_play_btn img[alt ="pause-icon"]
{
    display: block;
}