.header {
    width: 100%;
    padding: 0 15px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.header__logo {
    margin-right: 43px;
}

.header__menu {
    z-index: 1000;
    width: 632px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu-item {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    /* white */
    text-decoration: none;
    color: #ffffff;
}
@media (max-width: 425px) {
    .header__logo_img{
        width:80%;
    }
    
    // .header__menu {
    //     display: none;
    // }
}
@media (max-width: 767px) {
    .header__logo{
        margin-right: 0;
    }
    .header {
        justify-content: space-between;
    }
    .header__logo{
        left: 0%;
        top: 0%;
    }
    .header__menu {
        // position: absolute;
        height: 380px;
        width: 200px;
        flex-direction: column;
        background-color: rgba(122, 102, 204, 0.9);
        justify-content: space-between;
        align-items:flex-end;
    }
    .header__menu-item{
        padding: 10px 45px;
    }
}