.hero {
    position: relative;
    margin-top: 316px;
    display: flex;
    justify-content: space-between;
}
.hero__descr {
    padding-right: 125px;
}
.hero__tittle {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height */

    /* white */

    color: #ffffff;
    &::before {
        display: inline-block;
        content: " ";
        background-image: url("/img/tittle_logo.svg");
        background-size: 64px 31px;
        height: 31px;
        width: 64px;
        margin-right: 30px;
    }
}
.hero__descr p {
    margin-top: 60px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    /* white */

    color: #ffffff;

    opacity: 0.7;
    -webkit-text-stroke: 1px solid black;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.credits__logo {
    margin-right: 20px;
    width: 30px;
    height: 30px;
    background: #7a66cc;
    border-radius: 10px 0px;
}

.hero__imgs {
    position: relative;
    padding: 66px 0 0 95px;
    margin-top: 61px;
}
.hero__imgs img:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
}

.hero_credits {
    margin-top: 60px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}
.credits__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.credits__item {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    /* white */

    color: #ffffff;
}
