.info {
    gap: 60px;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 236px;
    background: #1c1b21;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px 0px;
    padding: 0 80px;

    // display: flex;
}
.info__wrapper {
    position: relative;
    max-width: 520px;
    // padding-right: 10%;
    display: flex;
    flex-direction: column;
    // padding-right: 60px;
}
.info__img-wrapper{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items:center;
}
.img_inner-div{
    width: auto;
}
.info__text {
    padding-top: 50px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    /* white */

    color: #ffffff;
}
.info__line {
    margin-top: 25px;
    opacity: 0.6;
    /* white */

    border: 1px solid #ffffff;
}
.info__img {
    max-width: 30vw;
    position: absolute;
    // top: -30%;
    transform: translate(-50%, -50%);
    
}
.info__link {
    margin-top: 25px;
    padding-bottom: 50px;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    /* accent */

    color: #7a66cc;
}

// @media (max-width: 1024px) {
//     .info__wrapper {
//         padding-right: 57%;
//         padding-left: 5%;
//     }
//     .info__img {
//         left: 55%;
//     }
// }
// @media (max-width: 768px) {
//     .info__wrapper {
//         padding-right: 57%;
//         padding-left: 5%;
//     }
//     .info__img {
//         width: 50vw;
//     }
// }
@media (max-width: 1024px){
    .info__wrapper{
        padding-right: 5%;
    }
}

@media (max-width: 768px){
    .info__wrapper{
        padding-right: 0;
    }
    .info{
        flex-direction:column;
    }

    .info__img-wrapper{
        width: auto;
        left: 35%;
        transform: translateY(25px);
    }
    .info__img{
        max-width: 240px;
    }
}

@media (max-width: 425px){
    .info{
        margin-top: 136px;
    }
    .info__img-wrapper{
        transform:none;
    }
    .info__img-wrapper{
        left: 0;
    }
    .info__img{
        max-width: 70vw;
        transform: translate(-50%, -23%);
    }
}
// @media (max-width: 425px) {
//     .info {
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//         flex-direction: column;
//     }
//     .info__img {
//         position: relative;
//         left: 0px;
//         top: 0px;
//         transform: translateX(0);
//         padding-bottom: 10%;
//     }
//     .info__wrapper {
//         padding: 5%;
//     }
// }
