.links {
    top: 93%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    margin-top: -15px;
    display: flex;
    justify-content: space-between;
}

.links__item {
    width: 350px;
    height: 300px;
    border-radius: 20px 0 20px 0;
    background-image: url("/img/link-img_1.png");
    display: flex;
    flex-direction: column-reverse;
    &:nth-child(2) {
        background-image: url("/img/link-img_2.png");
    }
    &:nth-child(3) {
        background-image: url("/img/link-img_3.png");
    }
}
.links__descr {
    border-radius: 20px 0;
    position: relative;
    background: rgba($color: #7a66cc, $alpha: 0.7);
    border-radius: 20px 0px;
    height: 33%;
    text-align: center;

    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    /* white */

    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    &-text {
        width: 88%;
        text-align: left;
    }
}
