.player {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.play {
    background-color: transparent;
    border: 0;
}
.player__btn:hover {
    fill: turquoise;
    color: yellow;
}
.player__timeline {
    height: 4px;
    background-color: white;
    width: 80%;
}
.player__time {
    display: block;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;

    text-align: right;

    color: #ffffff;
}
.timeline-bar {
    height: 100%;
    width: 100px;
    background-color:red;
}

 